parameters:
	ignoreErrors:
		-
			message: '#^Trait ZeroBoiler\\Domain\\Concerns\\HasSnapshots is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasSnapshots.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Identifiers/Identifier.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Identifiers/StringIdentifier.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/Identifiers/UlidIdentifier.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/Identifiers/UuidIdentifier.php

		-
			message: '#^Attribute class ZeroBoiler\\Observability\\Trace does not exist\.$#'
			identifier: attribute.notFound
			count: 3
			path: src/Snapshots/SnapshottingRepository.php

		-
			message: '#^Method ZeroBoiler\\Domain\\Snapshots\\SnapshottingRepository\:\:instantiateFromSnapshot\(\) never returns ZeroBoiler\\Domain\\AggregateRoot so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Snapshots/SnapshottingRepository.php

		-
			message: '#^PHPDoc tag @var for variable \$aggregate contains unresolvable type\.$#'
			identifier: varTag.unresolvableType
			count: 3
			path: src/Snapshots/SnapshottingRepository.php

		-
			message: '#^PHPDoc tag @var for variable \$instance contains unresolvable type\.$#'
			identifier: varTag.unresolvableType
			count: 1
			path: src/Snapshots/SnapshottingRepository.php