includes:
    - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - src/Commands/*
    - src/stubs/*
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
