parameters:
  ignoreErrors:
    -
      message: '#^Trait ZeroBoiler\\Domain\\Concerns\\EventSourced is used zero times and is not analysed\.$#'
      identifier: trait.unused
      count: 1
      path: src/Concerns/EventSourced.php

    -
      message: '#^Trait ZeroBoiler\\Domain\\Concerns\\HasSnapshots is used zero times and is not analysed\.$#'
      identifier: trait.unused
      count: 1
      path: src/Concerns/HasSnapshots.php

    -
      message: '#^Unsafe usage of new static\(\)\.$#'
      identifier: new.static
      count: 1
      path: src/Identifiers/Identifier.php

    -
      message: '#^Unsafe usage of new static\(\)\.$#'
      identifier: new.static
      count: 1
      path: src/Identifiers/StringIdentifier.php

    -
      message: '#^Unsafe usage of new static\(\)\.$#'
      identifier: new.static
      count: 2
      path: src/Identifiers/UlidIdentifier.php

    -
      message: '#^Unsafe usage of new static\(\)\.$#'
      identifier: new.static
      count: 2
      path: src/Identifiers/UuidIdentifier.php

    -
      message: '#^Method ZeroBoiler\\Domain\\Snapshots\\SnapshottingRepository::instantiateFromSnapshot\(\) never returns ZeroBoiler\\Domain\\AggregateRoot so it can be removed from the return type\.$#'
      identifier: return.unusedType
      count: 1
      path: src/Snapshots/SnapshottingRepository.php

    -
      message: '#^Construct empty\(\) is not allowed\. Use new self\(\) or null coalesce instead\.$#'
      identifier: emptyConstruct
      count: 1
      path: src/Snapshots/InMemorySnapshotStore.php

    -
      message: '#^Method ZeroBoiler\\Domain\\Identifiers\\UuidIdentifier::__construct\(\) has unused parameter \$value\.$#'
      identifier: unusedParameter
      count: 1
      path: src/Identifiers/UuidIdentifier.php

    -
      message: '#^Method ZeroBoiler\\Domain\\Identifiers\\UlidIdentifier::__construct\(\) has unused parameter \$value\.$#'
      identifier: unusedParameter
      count: 1
      path: src/Identifiers/UlidIdentifier.php
